[submodule "third-party/VulkanMemoryAllocator"]
	path = third-party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third-party/SPIRV-Reflect"]
	path = third-party/SPIRV-Reflect
	url = https://github.com/chaoticbob/SPIRV-Reflect.git
	branch = master
